<header class="header">
  <div class="header-left">
    <a ui-sref="home">
      <img
        src="../assets/images/amigo.png"
        alt="Amigo Logo"
        class="header-logo"
      />
    </a>
    <input
      class="header-search"
      placeholder="Search"
      type="text"
      name="search"
    />
  </div>
  <nav class="nav">
    <div class="nav-item nav-item-write" ng-click="openCreatePostModal()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.00"
        stroke="currentColor"
        class="nav-icon"
      >
        <path
          stroke-linecap="square"
          stroke-linejoin="miter"
          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
        />
      </svg>
      <span class="write-span">Write</span>
    </div>

    <div class="nav-item">
      <div class="signup-button" ng-click="openRegisterModal()">Sign up</div>
      <div class="signin-button" ng-click="openLoginModal()">Sign in</div>
    </div>

    <svg
      class="nav-circle-icon"
      viewBox="0 0 24 24"
      fill="currentColor"
      aria-hidden="true"
    >
      <path
        fill-rule="evenodd"
        d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
        clip-rule="evenodd"
      />
    </svg>
  </nav>
</header>
