<div ng-if="posts.length > 0">
  <div
    class="mt-10 max-w-2xl mx-auto bg-white shadow-md rounded-lg p-8 space-y-6 font-light text-gray-600"
    ng-repeat="post in posts"
  >
    <div class="flex items-center space-x-4">
      <a href="#">
        <svg
          class="w-12 h-12 text-gray-300 hover:text-gray-500 duration-100"
          viewBox="0 0 24 24"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
            clip-rule="evenodd"
          />
        </svg>
      </a>

      <div>
        <a href="#" class="font-medium text-gray-900">{{ post.userName }}</a>
        <div class="text-sm text-gray-500">{{ post.date }}</div>
      </div>
    </div>

    <div class="space-y-4 mb-6">
      <h2 class="text-2xl font-semibold text-gray-900 leading-snug">
        {{ post.title }}
      </h2>
      <p class="text-gray-700 text-lg break-words" style="font-family: serif">
        {{ post.content }}
      </p>
    </div>

    <div class="doca flex justify-between items-center text-gray-500">
      <div class="flex space-x-4">
        <button
          class="doca-button doca-button--normal doca-button--tertiary"
          ng-click="likePost(post)"
        >
          <i
            class="doca-icon"
            ng-class="post.isLikedByUser ? 'doca-icon__hands doca-icon--solid' : 'doca-icon__hands'"
          ></i>
          <p class="doca-text--normal">{{ post.likes }}</p>
        </button>

        <button class="doca-button doca-button--normal doca-button--tertiary">
          <i class="doca-icon doca-icon__comments doca-icon--normal"></i>
          <p class="doca-text--normal">70K</p>
        </button>
      </div>

      <div class="doca-flex doca-items-center">
        <button class="doca-button doca-button--normal doca-button--tertiary">
          <i class="doca-icon doca-icon__circle-minus doca-icon--normal"></i>
        </button>
        <button class="doca-button doca-button--normal doca-button--tertiary">
          <i class="doca-icon doca-icon__flag doca-icon--normal"></i>
        </button>
        <button class="doca-button doca-button--normal doca-button--tertiary">
          <i class="doca-icon doca-icon__ellipsis doca-icon--normal"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div
  ng-if="posts.length === 0"
  class="flex flex-col items-center mt-10 bg-gray-50 border border-blue-300 rounded-lg p-6 shadow-md max-w-md mx-auto"
>
  <h2 class="text-xl text-gray-800 mb-4">Nenhum post encontrado</h2>
  <p class="text-slate-500 text-center mb-6">
    Parece que ainda não há posts para exibir. Que tal criar o primeiro?
  </p>
  <button
    class="px-6 py-2 text-white bg-blue-500/90 hover:bg-blue-700/80 font-light rounded-full shadow transition duration-150"
    ng-click="openCreatePostModal()"
  >
    Criar Post
  </button>
</div>
